/*reset*/

{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: space-between; /*Separa a logo e o menu*/
    align-items: center;
    background-color: #eee;
    padding: 15px 30px;
}
/*Logo a baixo*/
.logo
{
color: red;
font-size: 24px;
font-weight: bold;
}
/*Lista a baixo*/
.menu-links{
    list-style: none;
    display: flex;
    gap: 25px; /*Espaço entre os itens*/
}
/*Formatar o Link*/
.menu-links a{
text-decoration: none;
color: #555;
font-size: 16px;
transition: 50s;
}
/*Hover: Efeito ao passar o mouse*/
.menu-links a:hover{
    color red;
    }
    /*Item Ativo: No início*/
    .menu.links .ativo{
        color: red;
        font-weight: bolder;
            }
            .contato{
                background-color: #f6f4f6;
                color:#a8001c;
                text-align: center;
                padding: 40px 20px;
            }
        .contato h1{
            font-size: 35px;
            color: red;
            margin-bottom: 20px;
        }
        .info-contato{
            margin-bottom: 30px;
        }
        .info-contato p{
            font-size:25px;
            margin: 10px 0;
                    }
  .nossa-historia{
            margin-bottom: 30px;
            text-align: center;
        }
        .nossa-historia p{
            text-align: center;
            font-size:20px;
            margin: 10px 0;
                    }
           .nossa-historia{
                text-align: center;
                padding: 40px 20px;
           }
        .mapa iframe{
            width: 80%; /*Largura*/
            height: 400px; /*Altura*/
            border: 0; /*Borda, Zero: Remover Borda*/
        }
        /*Site Responsivo Abaixo*/
        @media(max-width: 600px)
        .contato{
            padding: 2px 10px; /*Para Telas Pequenas*/
        }
        .contato h1{
            font-size: 20px;
        }
        .contato p{
            font-size: 14px;
        }
        .mapa iframe{
            width: 100%;
            height: 300px;
        }
        /*Footer*/
        /*Barra Vermelha Superior*/
        .barra-alerta{
            background-color: #a8001c;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 14px;
            }
            /*Abaixo: Container Principal do Footer*/
            .footer-container{
            display: flex;
            justify-content: space-between;
            align-items: center;     
            background-color: #f5f5f5;
            padding: 30px;
            flex-wrap: wrap;
            }
            /*Abaixo Logo*/
            .footer-logo h2{
            color: red;
            }
            /*Link do Site*/
            .footer-link{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .footer-link a{
            text-decoration: none;
            color: #444;
            font-size: 14px;
            }
            .footer-link a:hover{
                color:#a8001c;
            }
            /*Redes*/
            .footer-redes{
                display: flex;
                gap: 15px;
                }
                .footer-redes a{
                    text-decoration: none;
                    color: #444;
                    font-size: 14px;
                    }
                    .footer-redes a:hover{
                        color:#a8001c;
                    }